<div id="background">
    <span></span>
</div>

<div class="container" id="perfil">
    <div class="row">
        <div class="col" id="infos">
            <div class="row">
                <div class="col">
                    <p class="numbers">10</p>
                    <p>Empréstimos oferecidos</p>
                </div>
                <div class="col">
                    <p class="numbers">6</p>
                    <p>Livros emprestados</p>
                </div>
            </div>
        </div>

        <div class="foto-perfil col">
            <img src="./assets/imagens/foto de perfil.png" alt="Foto de perfil">
        </div>

        <div class="col" id="actions">
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-pencil"></i>
                </div>
                <div class="col">
                    <p>Editar dados</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </div>
                <div class="col">
                    <p>Histórico de empréstimo</p>
                </div>
            </div>
        </div>
    </div>

    <div class="perfil-dados">
        <div class="row">
            <h2 class="col">User Name</h2>
            <i class="fa-solid fa-location-dot col"></i>
            <p class="col">Localização</p>
        </div>
        <div class="row" id="nota">v
            <p class="col">9,0</p>
            <i class="fa-solid fa-star col"></i>
            <i class="fa-solid fa-star col"></i>
            <i class="fa-solid fa-star col"></i>
            <i class="fa-solid fa-star col"></i>
            <i class="fa-regular fa-star col"></i>
        </div>
    </div>
    <div class="row">
        <h4>Biografia</h4>
    </div>
    <div class="row" id="bio">
        <p>Sou Lorena, tenho 20 anos e gosto de ler romance, ficção e aventura. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Curabitur tempor at ante in fermentum. Vestibulum finibus dignissim tellus,
            eget ornare leo facilisis at.</p>
    </div>
</div>