<nav class="navbar">
    <div class="logo">
        <img src="./assets/imagens/logo.png" alt="logo-sharedLib" class="navbar-brand">
    </div>
    <ul class="navbar-nav me-auto">
        <div class="nav-pages">
            <li><a routerLink="/home">Home</a></li>
            <li><a href="">Sobre</a></li>
            <li><a routerLink="/livros">Livros</a></li>
        </div>
    </ul>
    <div class="nav-login-cadastro">
        <i class="fa-regular fa-user"></i>
        <li><a routerLink="/login-user">Login</a></li>
        <li>|</li>
        <li><a routerLink="/cadastro-user">Cadastre-se</a></li>
    </div>
</nav>

<router-outlet></router-outlet>