<nav class="navbar">
    <img id="img-logo" src="./assets/imagens/logo.png" alt="logo-sharedLib" class="navbar-brand">
    <ul class="navbar-nav me-auto">
        <div class="nav-pages">
            <li><a routerLink="/home">Home</a></li>
            <li><a href="">Sobre</a></li>
            <li><a routerLink="/livros">Livros</a></li>
        </div>
    </ul>
    <div class="nav-login-cadastro">
        <i class="fa-regular fa-user"></i>
        <li><a routerLink="/login-user">Login</a></li>
        <li>|</li>
        <li><a routerLink="/cadastro-user">Cadastre-se</a></li>
    </div>
</nav>

<router-outlet>
</router-outlet>

<footer>
    <div class="row">
        <div class="col-md-6">
            <img id="img-logo" src="./assets/imagens/logo-white.png" alt="logo-white"><br>

            <i id="icon" class="fa-brands fa-instagram"></i>
            <a id="link" href="https://www.instagram.com/"> sharedLib </a><br>

            <i id="icon" class="fa-brands fa-twitter"></i>
            <a id="link" href="https://www.twitter.com/"> sharedLib </a><br>

            <i id="icon" class="fa-brands fa-github"></i>
            <a id="link" href="https://www.github.com/"> sharedLib </a><br>

            <i id="icon" class="fa-brands fa-linkedin"></i>
            <a id="link" href="https://www.linkedin.com/"> sharedLib </a><br><br>
            
            <span> Copyright © 2023 SharedLib ®. All rights reserved. </span>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label for="input-author" class="form-label">Autor</label>
                    <input id="input-author" type="text" class="form-control">
                    
                    <label for="input-language" class="form-label">Idioma</label>
                    <input id="input-language" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="input-synopsis" class="form-label">Sinopse</label>
                    <textarea id="input-synopsis" class="form-control"  rows="5"></textarea>
                </div>
            </div>
            <div class="text-center">
            <button type="submit" id="btn-primary" style="width: 200px;">Cadastrar</button>
            </div>
        </div>
    </div>
</footer>