#frase {
    font-size: 45px;
    color: #042932;
    font-weight: 600;
}

#frase span {
    color: #0B9D92;
}

#crie-conta {
    color: #042932;
}

#slogan img {
    transform: scaleX(-1);
    filter: brightness(0.5);
}


#slogan {
    margin-top: 80px;
    margin-bottom: 80px;
}

#search-bar {
    position: relative;
    margin-bottom: 80px;
}

#search-icon {
    position: absolute;
    top: 50%;
    left: 23px;
    transform: translateY(-50%);
    color: grey;
}

#search-bar input[type="text"] {
    padding-left: 35px;
}

#livro img {
    width: 100px;
}

#livro {
    padding: 0;
}

#row-livros {
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

#historico-de-emprestimos {
    margin-bottom: 80px;
}

.titulo {
    margin-bottom: 0;
    margin-top: 5px;
}

.autor {
    font-size: 13px;
}

#sobre {
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
    background-color: #042932;
    color: white;
    padding: 45px 75px;
}

#sobre h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}